* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

body {
    width: 80%;
    margin: 0 auto;
}

.panel {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

.panel > h2 {
    margin-bottom: 5px;
}

.chat-messages-container {
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: 1px solid black;
}

.chat-message {
    font-family: 'Consolas', 'Courier New', monospace;
}

.chat-message-author {
    font-weight: bold;
}

.actions-force-test input {
    margin: 5px;
}

.fancy-button {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#user-form {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: azure;
    width: 300px;
    margin: 0 auto;
}

#user-form > p {
    margin: 10px;
}

#chat-form {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#chat-form input[type="text"] {
    flex-grow: 1;
    margin-right: 5px;
}

.panel p {
    margin-bottom: 10px;
}

#action-schema {
    width: 100%;
    height: 300px;
}

#connection-status {
    font-weight: bold;
    font-size: 16px;
}

#connection-status.disconnected {
    color: red;
}

#connection-status.connecting {
    color: orange;
}

#connection-status.connected {
    color: green;
}
